@import url(//fonts.googleapis.com/earlyaccess/dhyana.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=League+Spartan:wght@100;200;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

.cursel::-webkit-scrollbar {
  width: 1px;
}

.cursel::-webkit-scrollbar-track {
  background: transparent;
  width: 1px;
}

.cursel::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

/* left div  */
body {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  height: 100vh;
}
.left-div {
  position: relative;
  border-radius: 20px;
  background: #333;
  box-shadow: 5px 5px 10px 1px rgba(37, 37, 37, 0.93);
  width: 18%;
  margin: 11px;
}
.right-div {
	width: 80%;
	margin: 15px;
	overflow: scroll;
}

.right-div h1 {
  color: #fff;
  font-family: Dhyana;
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wellcome {
  width: 90%;
}

.roles {
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: Dhyana;
	margin: auto;
	margin-top: 25px;
}
.role {
	display: flex;
	cursor: pointer;
	align-items: center;
	border: 1px solid rgba(97, 97, 97, 0.79);
	border-radius: 5px;
}

.roleimg {
	width: 30px;
	margin: 0px 22px;
}
.roleimg2 {
  margin: 0px 17px;
  width: 30px;
  border-radius: 4px;
}
.language {
  width: 90%;
  margin: 38px auto;
  border-radius: 5px;
  border: 2px solid rgba(97, 97, 97, 0.79);
  height: 76px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.lang {
  width: 100%;
  display: flex;
  justify-content: start;
}

.lang p {
  font-family: Dhyana;
}

.wellcome p {
  width: 95%;
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.52px;
}

.cursel {
  display: flex;
  flex-direction: row;
  width: 81vw;
  justify-content: space-evenly;
  overflow: scroll;
}

.curselbox {
  width: 40%;
  background-image: url("img/Moon.png");
}

.moonimg {
  display: inline-flex;
  position: absolute;
}

.left-div h1 {
  font-family: "League Spartan", sans-serif;
  margin-top: 15px;
  margin-left: 24px;
  font-size: 40px;
}

.left-div hr {
  width: 54%;
  height: 4px;
  border-radius: 20px;
  border: 1px solid #626f4d;
  background: linear-gradient(
    225deg,
    #ff16e8 25.84%,
    #8248ff 73.28%,
    #4d7fff 122.65%,
    #3da2fd 131.01%,
    #39a0ff 153.55%,
    #58b0ef 184.22%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -9px;
  left: 19px;
}

.recentchats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Dhyana;
  border-radius: 5px;
  border: 1px solid rgba(97, 97, 97, 0.79);
  background: #333;
  text-align: center;
  overflow-wrap: break-word;
  width: 98%;
  margin: auto;
  margin-top: 17px;
  height: auto;
  padding: 3px 0px;
}
.recentchat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  max-width: 95%;
  height: auto;
}
.recentchat p {
  width: 88%;
  text-align: justify;
  overflow: hidden;
}

.recentchatimg1 {
  width: 20px;
  cursor: pointer;
  margin: auto;
  rotate: 90deg;
}
.recentchatimg2 {
  width: 20px;
  cursor: pointer;
  margin: auto;
  rotate: 90deg;
}
.recentchatimg5 {
  rotate: 90deg;
  width: 20px;
  cursor: pointer;
  margin: auto;
}

button {
  font-family: Dhyana;
  border-radius: 5px;
  border: 2px solid rgba(97, 97, 97, 0.79);
  background: #333;
  text-align: center;
  width: 90%;
  margin: auto;
  height: 35px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  color: #fff;
  left: 11px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button p {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline-block;
}
button img {
  width: 20px;
  height: 20px;
}

/* right div  */

.wellcome h1 {
  color: #fff;
  font-family: Dhyana;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  line-height: normal;
}

.wellcome p {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.52px;
  width: 100%;
}

.cursel {
  gap: 15px;
  height: 46%;
  margin: 22px auto;
  margin-top: 70px;
}

.curselbox {
  width: 20%;
  border-radius: 62px;
  height: 100%;
  background-size: cover;
}
.curselboximg1 {
  background-image: url("img/Starynight.jpeg");
  border-radius: 62px;
  height: 100%;
  background-size: cover;
}
.curselboximg2 {
  background-image: url("img/Mountain1.png");
  border-radius: 62px;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.curselboximg3 {
  background-image: url("img/Starynight.jpeg");
  border-radius: 62px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.curselboximg4 {
  background-image: url("img/Starynight.jpeg");
  border-radius: 62px;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.curselbox h2 {
  font-family: Inter;
  font-size: 30px;
  margin-left: 36px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  background: linear-gradient(
    186deg,
    rgba(54, 54, 54, 0.68) -0.8%,
    rgba(211, 231, 254, 0) 18.25%,
    rgba(213, 222, 255, 0.68) 34.29%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 15px;
}
.curselbox ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: start;
  margin-top: 23px;
}
.curselbox ul li {
  color: #fff;
  font-family: "Inter", sans-serif;
  margin-left: 46px;
  margin-bottom: 12px;
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

/* inside the right div || question and answers */
.profile {
  display: none;
  margin-left: 15px;
  margin-top: 10px;
}

.q {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  margin-left: 20px;
  line-height: normal;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.answer {
  border-radius: 20px;
  background: #333;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: start;
  padding: 20px 0px;
}

.answer p {
  width: 93%;
  margin: 0 auto;
  color: #fff;
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
}

form {
  justify-content: space-between;
  width: 79%;
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  height: 45px;
  border-radius: 45px;
  background: rgba(55, 55, 55, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
}

form #impquestion {
  color: #777;
  font-family: "League Spartan", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 23px;
}
#submitimg {
  margin-right: 32px;
  width: 28px;
  cursor: pointer;
}

input {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  color: #fff;
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  background: transparent;
  border-radius: 45px;
  border: 0px;
}

form input:focus {
  border-bottom: 2px solid white;
  border: 0px;
  outline: 0;
}

.etc1,
.etc2,
.etc3 {
  display: none;
}

/* on click css */

.recentchats1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-family: Dhyana;
  border-radius: 5px;
  border: 1px solid rgba(97, 97, 97, 0.79);
  background: #333;
  text-align: center;
  width: 98%;
  margin: auto;
  margin-top: 17px;
  height: 30%;
}

.recentchat1 {
  display: flex;
  background-color: red;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  margin-top: 7px;
}
#mainnav {
  display: none;
}

