@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=League+Spartan:wght@100;200;400&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  background: black;
}

/* Login Box  */

.introtoAI {
  width: 70vw;
  height: 90vh;
  background: linear-gradient(#676767fa, #aeaeae99, #4f4f4f6e, #4a4a4a3d);
  margin: 20px auto;
  box-shadow: 4px 4px 60px rgba(38.48, 38.48, 38.48, 0.56);
  border-radius: 30px;
  border: 3px #676767 solid;
  backdrop-filter: blur(20px);
}

.logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-left: 49px;
  margin-top: 15px;
}

hr {
  width: 200px;
  height: 6px;
  border-radius: 20px;
  border: 1px solid #626f4d;
  background: linear-gradient(
    225deg,
    #ff16e8 25.84%,
    #8248ff 73.28%,
    #4d7fff 122.65%,
    #3da2fd 131.01%,
    #39a0ff 153.55%,
    #58b0ef 184.22%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -2vh;
}

.logo h1 {
  width: 527px;
  color: white;
  font-size: 75px;
  font-weight: 400;
  word-wrap: break-word;
  display: inline;
}

.intro {
  width: 90%;
  margin: 13% auto auto;
}

.intro p {
  width: 637px;
  color: white;
  font-family: League Spartan;
  font-size: 28px;
  font-weight: lighter;
  word-wrap: break-word;
  opacity: 0.7;
  margin-bottom: 3px;
}

.intro h2 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button1 {
  margin: auto;
  width: 150px;
  height: 45px;
  background: linear-gradient(
    161deg,
    #e4e4e4 0%,
    rgba(210.57, 210.57, 210.57, 0) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.button2 {
  margin: auto;
  width: 150px;
  height: 45px;
  cursor: pointer;
  background: linear-gradient(
    161deg,
    #3d3d3d 0%,
    rgba(210.57, 210.57, 210.57, 0) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-size: 25px;
  color: #fff;
}

.login-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
  position: absolute;
  bottom: 50px;
  left: 44%;
}

#works {
  background: linear-gradient(
    #ff16e8 25.84%,
    #8248ff 73.28%,
    #4d7fff 122.65%,
    #3da2fd 131.01%,
    #39a0ff 153.55%,
    #58b0ef 184.22%
  );
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 53px;
}

/* login box  */

.login-box {
  display: none;
  color: #fff;
  width: 70vw;
  height: 90vh;
  background: linear-gradient(#676767fa, #aeaeae99, #4f4f4f6e, #4a4a4a3d);
  margin: 20px auto;
  box-shadow: 4px 4px 60px rgba(38.48, 38.48, 38.48, 0.56);
  border-radius: 30px;
  border: 3px #676767 solid;
  backdrop-filter: blur(20px);
}

.Ellipse1 {
  width: 129px;
  display: inline-flex;
  position: absolute;
  right: 10%;
  bottom: 42%;
}
.Ellipse2 {
  width: 173px;
  display: inline-flex;
  position: absolute;
  left: 8%;
  bottom: -1%;
}

.loginimg {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  width: 100px;
  color: #fff;
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: space-between;
}

.signupimg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-top: 13px;
}

.login-box > h2 {
  margin-top: 4%;
  width: 247px;
  text-align: center;
  color: white;
  font-size: 55px;
  font-family: Dhyana;
  font-weight: lighter;
  word-wrap: break-word;
}
.userpasslogin {
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: center;
}
.userpasslogin form {
  display: flex;
  height: 65%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form input {
  width: 139px;
  height: 34px;
  text-align: left;
  color: #b3b3b3;
  font-size: 25px;
  font-family: Dhyana;
  font-weight: 400;
  word-wrap: break-word;
  background: transparent;
  border: transparent;
  font-size: 25px;
  border-bottom: 2px solid white;
  width: 80%;
  color: #b3b3b3;
}

form input:focus {
  border-bottom: 2px solid white;
  outline: 0;
}
#submit {
  text-align: center;
  width: 150px;
  height: 45px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
}

.anotherwaystologin {
  display: flex;
  justify-content: space-evenly;
  height: 56px;
  flex-direction: column;
  align-items: center;
}

.anotherwaystologin h2 {
  width: 143px;
  text-align: center;
  color: white;
  font-size: 21px;
  color: #b3b3b3;
  font-family: Dhyana;
  font-weight: lighter;
  word-wrap: break-word;
}
.comingsoon {
  display: none;
  width: 100%;
  height: auto;
}
.sorrytext {
	width: 95vw;
  font-family: 'Inter', sans-serif;
	text-align: center;
	margin: 2px auto;
	height: 35vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	color: white;
	font-family: Inter, sans-serif;
}
.sorrytext h2{
  font-size: 3em;
  font-family: 'Inter', sans-serif;
}
.sorryimg {
  margin: auto;
  width: 90%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1050px) {
  .introtoAI,
  .login-box,
  .Ellipse1,
  .Ellipse2 {
    display: none;
  }

  .comingsoon {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: auto;
  }
  .sorryimg {
    margin: 2rem auto 0rem;
    width: 70%;
  }
}
